.Error{
    color:red;
    display: inline;
}
.Oculto{
    display:none;
}
.img-combo {
    width: 100px;
    height: 100px;
    object-fit: cover;    
    border-radius: 15px;      
    border: 3px solid #8B4513; 
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    //cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,0.35);
    }
}
.img-VerTop{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px doted #999;
    box-shadow:  0 2px 6px rgba(0,0,0,0.15);
    transition: all 0.2s ease;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.35);
    }
}
.tituloPrecio{
    font-size: 2 em;
    font-weight: 600;
    color: black;
}
.tituloPrecio{
    font-size: 2 em;
    font-weight: 600;
    color: rgb(60, 59, 59);
}
.CombosClase{
    height: 60px;
}
.msjFinalizar{
    color: rgb(102, 94, 94);
    font-size: 1.5rem;
    padding: 10px;
    font-style: italic;
}