$colores:(
    color-primario: #000000,
    color-secundario: #ffffff,
    color-terciario: #502899,
    color-background-header:#f4eaff,
    color-subrayado: #7c2872,
    color-h1-border: rgba(69, 69, 69, 0.195),

);