// @mixin flex-center($a,$c,$d) {
//     display: $a;
//     justify-content: $c;
//     align-items: $d;
// }
// @mixin mas-info($a,$b){
//     position: $a;
//     bottom: $b;
// }
// @mixin texto-uppercase($a,$b){
//     text-transform: $a;
//     font-weight: $b;
// }
// @mixin grid-Rows-Columna($a,$b,$c,$d){
//     grid-template-rows: repeat($a,$b);
//     grid-template-columns: repeat($c,$d);
// }