$fuentes : "Montserrat", sans-serif;
/* imagenes */
// $Img-border-radius:20px;
// /* botones */
// $Btn-border-radius:0px;
// /* animaciones */
// $speed-scale-img:.6s;
// $speed-borde-boton: .35s;
// $speed-Background-boton: .5s;