/* GENERALES */
@use 'sass:map';
@use '../utilities/maps' as mapa;
@use '../utilities/variables';
@use '../utilities/extend';

body {
    background-color: map.get(mapa.$colores, color-secundario);
    font-family: variables.$fuentes;
}

h1 {
    border-bottom: 1px solid map.get(mapa.$colores, color-h1-border);
    @extend %marginH;
    @extend %paddingH;
}
h2{
    @extend %marginH;
    @extend %paddingH;
}
h3{
    margin: 10px 0;
}
h5{
    @extend %marginH;
    @extend %paddingH;    
}
/* FIN GENERALES */